<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>croncon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
		<session-timeout>60</session-timeout>
	</session-config>
   <context-param>
  	<param-name>tempfile.dir</param-name>
  	<param-value>pictures</param-value>
  </context-param>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>croncon.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>croncon.action.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/Manager/logout</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/Manager/Self/logout</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/Employee/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<servlet-class>croncon.action.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FeedServlet</servlet-name>
  	<servlet-class>croncon.action.FeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FeedServlet</servlet-name>
  	<url-pattern>/feed</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>FeedServlet</servlet-name>
  	<url-pattern>/Employee/feed</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommentServlet</servlet-name>
  	<servlet-class>croncon.action.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentServlet</servlet-name>
  	<url-pattern>/Employee/comment</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CompanyServlet</servlet-name>
  	<servlet-class>croncon.action.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CompanyServlet</servlet-name>
  	<url-pattern>/companyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RemoveServlet</servlet-name>
  	<servlet-class>croncon.action.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RemoveServlet</servlet-name>
  	<url-pattern>/removeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AttendanceServlet</servlet-name>
  	<servlet-class>croncon.action.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AttendanceServlet</servlet-name>
  	<url-pattern>/Employee/attendance</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<servlet-class>croncon.action.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/Employee/updateprofile</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/Manager/updateprofile</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/Manager/Self/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RemoveFileServlet</servlet-name>
  	<servlet-class>croncon.action.RemoveFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RemoveFileServlet</servlet-name>
  	<url-pattern>/Employee/removefile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CreateServlet</servlet-name>
  	<servlet-class>croncon.action.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateServlet</servlet-name>
  	<url-pattern>/Manager/create</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteEmployeeServlet</servlet-name>
  	<servlet-class>croncon.action.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteEmployeeServlet</servlet-name>
  	<url-pattern>/Manager/deleteemployees</url-pattern>
  </servlet-mapping>
  
</web-app>